/*FONTS START*/
@font-face {
	font-family: 'FuturaDemiC';
	src: url('../fonts/FuturaDemiC/FuturaDemiC.eot');
	src: url('../fonts/FuturaDemiC/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaDemiC/FuturaDemiC.woff2') format('woff2'),
		url('../fonts/FuturaDemiC/FuturaDemiC.woff') format('woff'),
		url('../fonts/FuturaDemiC/FuturaDemiC.ttf') format('truetype'),
		url('../fonts/FuturaDemiC/FuturaDemiC.svg#FuturaDemiC') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source Serif Pro';
	src: url('../fonts/SourceSerifPro/SourceSerifPro-Regular.eot');
	src: url('../fonts/SourceSerifPro/SourceSerifPro-Regular.eot?#iefix') format('embedded-opentype'),
	    url('../fonts/SourceSerifPro/SourceSerifPro-Regular.woff2') format('woff2'),
	    url('../fonts/SourceSerifPro/SourceSerifPro-Regular.woff') format('woff'),
	    url('../fonts/SourceSerifPro/SourceSerifPro-Regular.ttf') format('truetype'),
	    url('../fonts/SourceSerifPro/SourceSerifPro-Regular.svg#SourceSerifPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Source Serif Pro Bold';
    src: url('../fonts/SourceSerifProBold/SourceSerifPro-Bold.eot');
    src: url('../fonts/SourceSerifProBold/SourceSerifPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SourceSerifProBold/SourceSerifPro-Bold.woff2') format('woff2'),
        url('../fonts/SourceSerifProBold/SourceSerifPro-Bold.woff') format('woff'),
        url('../fonts/SourceSerifProBold/SourceSerifPro-Bold.ttf') format('truetype'),
        url('../fonts/SourceSerifProBold/SourceSerifPro-Bold.svg#SourceSerifPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
	font-family: 'FuturaBookC';
	src: url('../fonts/FuturaBookC/FuturaBookC.eot');
	src: url('../fonts/FuturaBookC/FuturaBookC.eot?#iefix') format('embedded-opentype'),
	    url('../fonts/FuturaBookC/FuturaBookC.woff2') format('woff2'),
	    url('../fonts/FuturaBookC/FuturaBookC.woff') format('woff'),
	    url('../fonts/FuturaBookC/FuturaBookC.ttf') format('truetype'),
	    url('../fonts/FuturaBookC/FuturaBookC.svg#FuturaBookC') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*FONTS END*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto;
}
ul{
	list-style: none;
}
a{
	outline: none;
	text-decoration: none;
}
button{
	border: none;
	background-color: transparent;
	outline: none;
}
textarea,
input{
	border: none;
	outline: none;
}
button:active, 
button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
.container{
	max-width: 1920px;
	margin:0 auto;
	padding: 0 15px;
}
.container_small{
	max-width: 1610px;
	margin:0 auto;
	padding: 0 15px;
}
.burger_menu_right{
	display: block;
	z-index: 20;
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;
	padding: 5px 10px;
	background-color: rgba(0,0,0,.15);
	border-radius: 3px;
	width: 40px;
	height: 36px;
	border: none;
	display: none;
}
.burger_menu_right span {
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background-color: rgb(255,255,255);
  transition: .2s ease;
  margin: 0;
  padding: 0;
}
.burger_menu_right span:first-child {
    top: 10px;
}
.burger_menu_right span:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.burger_menu_right span:last-of-type {
    bottom: 10px;
}
.burger_menu_right.show span:first-child {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}
.burger_menu_right.show span:nth-child(2) {
    opacity: 0;
    width: 0;
}
.burger_menu_right.show span:last-of-type {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
}
header{
	height: 100vh;
	display: flex;
	position: relative;
}
header .left,
header .right{
	height: 100%;
	width: 50%;
} 
header .left{
	display: flex;
	position: relative;
	background-image: url('../image/background_header_left.png');
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: contain;
}
header .left .logo_image{
	margin: auto;
}
header .right{
	background-color: #333333;
	position: relative;
}
header .left .top_logo,
header .right .top_logo{
	position: absolute;
	top: 0;
	left: 50px;
	display: flex;
	align-items: center;
}
header .right .top_logo{
	display: none;
}
header .left .top_logo span,
header .right .top_logo span{
	font-family: 'FuturaDemiC';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 23px;
	text-transform: uppercase;
	color: #585959;
}
header .right nav{
	position: relative;
	z-index: 2;
}
header .right nav ul{
	display: flex;
	justify-content: flex-end;
	height: 103px;
	align-items: center;
}
header .right nav ul li{
	margin-left: 55px;
}
header .right nav ul li:first-of-type{
	margin-left: 0;
}
header .right nav ul li:last-of-type{
	margin-right: 60px;
}
header .right nav ul li a{
	padding: 10px;
	color: rgba(254, 255, 255, 0.75);
	font-family: FuturaDemiC;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	text-transform: uppercase;
}
header .right nav ul li a:hover{
	color:#fff;
	transition: color .3s ease;
}
header .right{
	background-image: url('../image/barckgroind_header_right.png');
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: auto;
}
header .right .titel{
	max-width: 650px;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 100%;
}
header .right .titel .wrap{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
header .right .titel h1{
	font-family: 'Source Serif Pro';
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	line-height: 75px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #FEFFFF;
	margin-bottom: 40px
}
header .right .titel .describe{
	font-family: 'FuturaBookC';
	font-size: 21.2264px;
	line-height: 24px;
	color: rgba(254, 255, 255, 0.9);
}
header .right .titel .arrow_down{
	position: absolute;
	bottom:70px;
	cursor: pointer;
	transition: bottom .3s ease;
	padding-top: 7px;
}
header .right .titel .arrow_down:hover{
	bottom: 63px;
	filter: brightness(0) invert(1);
}
/* %%%%%%%%% ABOUT US %%%%%%%%% */
section.about_us .describe{
	display: flex;
	padding-bottom: 170px;
}
section.about_us .describe .left,
section.about_us .describe .right{
	width: 50%;
	height: 290px;
}
section.about_us .describe .left{
	background-color: #333;
	display: flex;
	justify-content: flex-end;
	position: relative;
}
section.about_us .describe .left > .wrap,
section.about_us .describe .right > .wrap{
	max-width: 960px;
	width: 100%;
	padding: 0 15px;
}
section.about_us .describe .left > .wrap{
	background-image: url('../image/quotes_black.png');
	background-repeat: no-repeat;
	background-position: 16.50% 69.8%;
}
section.about_us .describe .left > .wrap p{
	font-family: FuturaBookC;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 27px;
	color: rgba(254, 255, 255, 0.91);
	max-width: 720px;
	position: absolute;
	right: 82px;
	bottom: 50px;
}
section.about_us .describe .right > .wrap{
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: 100%;
	position: relative;
}
section.about_us .describe .right > .wrap h2{
	font-family: 'Source Serif Pro';
	font-style: normal;
	font-weight: bold;
	font-size: 56.4744px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	color: #585959;
	z-index: 1;
}
section.about_us .describe .right > .wrap img{
	position: absolute;
	z-index: 0;
	transform: translateY(30%);
	right: 13%;
}
section.about_us .type{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 170px;
}
section.about_us .type .item .title{
	display: flex;
	align-items: center;
	position: relative;
}
section.about_us .type .item .title img{
	max-height: 77px;
}
section.about_us .type .item .title h2{
	font-family: Source Serif Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 34.392px;
	line-height: 47px;
	text-transform: uppercase;
	color: #585959;
	margin-left: 50px;
	white-space: nowrap;
	position: relative;
}
section.about_us .type .item .title h2:before{
	content: '';
	width: 95px;
	height: 2px;
	background-color: #BCC5C9;
	position: absolute;
	bottom: -15px;
	left: 0;
}
section.about_us .type .item{
	max-width: 625px;
	width: 100%;
	margin: 0 5px 60px 5px;
}
section.about_us .type .item > p {
	font-family: FuturaBookC;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 26px;
	color: #949FA3;
	margin-top: 40px;
	margin-bottom: 30px;
	white-space: nowrap;
}
section.about_us .type .item .line{
	width: 100%;
	height: 2px;
	background-color: #BCC5C9;
	margin-bottom: 20px;
}
section.about_us .type .item button{
	font-family: FuturaDemiC;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #949FA3;
	border: none;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: color .3s ease , margin .3s ease;

}
section.about_us .type .item button.show{
	margin-bottom: 40px;
}
section.about_us .type .item button svg{
	transition: transform .3s ease;
}
section.about_us .type .item button.show svg{
	transform: rotate(180deg);
}
section.about_us .type .item button:hover{
	color: #000;
}
section.about_us .type .item button svg path{
	transition: stroke .3s ease;
}
section.about_us .type .item button:hover svg path{
	stroke:#000;
}
section.about_us .type .item button span{
	margin-right: 25px;
}
section.about_us .type .item .list li{
	font-family: FuturaBookC;
	font-size: 23px;
	line-height: 26px;
	color: #949FA3;
}
section.about_us .type .item .list{
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
}
section.about_us .person{
	background-image: url('../image/quotes_white_2.png');
	background-repeat: no-repeat;
	background-position:57px 1.5%;
	background-size: auto;
	position: relative;
}
section.about_us .person .info_person > .name{
	font-family: Source Serif Pro;
	font-weight: 600;
	font-size: 36px;
	line-height: 50px;
	text-transform: uppercase;
	color: #585959;
	padding-top: 50px;
	margin-bottom: 25px;
}
section.about_us .person .info_person{
	width: 50%;
}
section.about_us .person .position{
	font-family: FuturaDemiC;
	font-weight: 600;
	font-size: 12.38px;
	text-transform: uppercase;
	color: #949FA3;
	max-width: 562px;
	width: 100%;
	margin-bottom: 100px;
}
section.about_us .person .main_text{
	max-width: 580px;
	width: 100%;
	font-family: FuturaBookC;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 28px;
	color: rgba(88, 89, 89, 0.87);
	margin-bottom: 60px;
	position: relative;
	transition: height .3s ease;
}
section.about_us .person .main_text.show{
	height: 100%;
}
section.about_us .person .full_text{
/*	max-height: 0;
	opacity: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
	position: static;
	transition: height .3s ease;*/
	/*margin:0;*/
	/*padding: 0;*/
	/*overflow: hidden;*/
	display: none;
}
section.about_us .person .main_text:before{
	content: '';
	height: 2px;
	width: 115px;
	background-color: #949FA3;
	position: absolute;
	bottom: -30px;
	left: 0;
}
section.about_us .person .more{
	font-family: FuturaDemiC;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #949FA3;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: color .3s ease;
	margin-bottom: 50px;
}
section.about_us .person .more:hover{
	color: #000;
}
section.about_us .person .more svg{
	transition: .3s ease;
}
section.about_us .person .more.show svg{
	transform: rotate(180deg);
}
section.about_us .person .more svg path{
	transition: stroke .3s ease;
}
section.about_us .person .more:hover svg path{
	stroke: #000;
}
section.about_us .person span{
	margin-right: 30px;
}
section.about_us .person .image_1{
	position: absolute;
	top:0;
	right: 0;
	z-index: 1;
}
section.about_us .person .wrap{
	display: flex;
	align-items: flex-end;
	padding-bottom: 110px;
	background-image: url('../image/quotes_white_1.png');
	background-repeat: no-repeat;
	background-position:100% 87.6%;
	background-size: auto;
	position: relative;
	}
section.about_us .person .wrap .services{
	width: 100%;
	font-family: 'Source Serif Pro Bold';
	font-size: 56.5px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	color: #585959;
	line-height: 45px;
	text-align: center;
}
section.about_us .person .wrap .cover{
	flex-shrink: 0;
	position: relative;
	font-size: 0;
}
section.about_us .person .wrap .cover .info{
	max-width: 337px;
	width: 100%;
	height: 87px;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	background-color: rgba(88, 89, 89, 0.34);
	display: flex;
	align-items: center;
	padding-left: 19px;
}
section.about_us .person .wrap .cover .info > div{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 52px;
	position: relative;
	padding-left: 15px;
	margin-left: 19px;
}
section.about_us .person .wrap .cover .info > div:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 2px;
	background-color:  rgba(244, 242, 239, 0.61);
}
section.about_us .person .wrap .cover .info > div .phone,
section.about_us .person .wrap .cover .info > div .mail{
	font-family: FuturaDemiC;
	font-size: 19px;
	line-height: 122.2%;
	color: #F4F2EF;
	transition: color .5s ease;
}

section.about_us .person .wrap .cover .info > div .phone:hover,
section.about_us .person .wrap .cover .info > div .mail:hover{
	color: #000;
}
section.about_us .person .wrap .cover .info > div .phone{
	font-weight: 600;
}
section.about_us .person .list{
	font-family: FuturaBookC;
	font-style: normal;
	font-weight: normal;
	font-size: 29.2px;
	line-height: 41px;
	color: #585959;
	max-width: 1411px;
}
section.about_us .person .list li{
	margin-bottom: 10px;
	list-style: disc;
	margin-left: 27px;
}
section.about_us .person .email_to_person > form{
	position: static;
	max-width:1027px;
	width: 100%;
	padding-bottom: 50px;
	margin:60px auto 0 auto;
	background-image: url('../image/quotes_black.png');
	background-position: top left;
}
section.about_us .person .email_to_person form .submit{
	margin-top: 0;
}
section.about_us .person .email_to_person form .wrap{
	padding-bottom: 80px;
}

 /* %%%%%  Our Services %%%%%%% */
section.our_services,
section.news{
	margin-top: 120px;
}
section.our_services > h3,
section.news > h3,
section.contact .location > h3{
	font-family: Source Serif Pro;
	font-weight: bold;
	font-size: 56.4744px;
	line-height: 77px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	color: #585959;
	padding: 95px 0 50px 0;
	background-image: url('../image/quotes_white_2.png');
	background-repeat: no-repeat;
	background-position: top left;
}
section.our_services > ul li{
	margin-bottom: 20px;
	position: relative;
	display: flex;
	justify-content: space-between;
}
section.our_services > ul li span{
	background-color: #fff;
	z-index: 1;
	position: relative;	
	font-family: Source Serif Pro;
	font-weight: 600;
	font-size: 34.392px;
	line-height: 47px;
	text-transform: uppercase;
	color: #585959;
}
section.our_services > ul li:before{
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	height: 0;
	width:  calc(100% - 60px);
	border: 1px dashed #585959;
}
section.our_services > ul li span:first-of-type{
	margin-left: 50px;
	padding-right: 20px;
}
section.our_services > ul li span:last-of-type{
	padding-left: 20px;
}
/* %%%%%  News %%%%%*/
section.news{
	margin-bottom: 220px;
}
section.news .item{
	max-width: 350px;
	width: 100%;
	margin: 0 3px;
}
section.news .item .data{
	font-family: FuturaDemiC;
	font-weight: 600;
	font-size: 15px;
	line-height: 100.7%;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #949FA3;
	margin:32px 0;
	display: block;
}
section.news .item h5{
	font-family: FuturaDemiC;
	font-style: normal;
	font-weight: 600;
	font-size: 25.8px;
	line-height: 122.2%;
	color: #585959;
	margin-bottom: 40px;
}
section.news .item .describe{
	font-family: FuturaBookC;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 28px;
	color: #585959;
	padding-bottom: 39px;
}
section.news .item .describe:after{

}
section.news .item > a{
	font-family: FuturaDemiC;
	font-weight: 600;
	font-size: 15px;
	line-height: 100.7%;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #949FA3;
	display: flex;
	align-items: center;
}
section.news .item > a:hover{
	color: #000;
}
section.news .item > a svg path{
	transition: stroke .3s ease;
}
section.news .item > a:hover svg path{
	stroke: #000;
}
section.news .item > a span:first-of-type{
	padding-right: 20px;
}
section.news .wrap{
	display: flex;
}
section.news .world,
section.news .myself{
	width: 100%;
	position: relative;
}
section.news .myself:before,
section.news .world:before{
	content: '';
	width: 1px;
	background-color: #DDE0E2;
	position: absolute;
	right: 0;
	top: -50%;
	bottom: -10%;
}
section.news .myself:before{
	left: 0;
}
section.news .world:before{
	right: 0;
}
section.news .world{
	display: flex;
	justify-content: space-around;
}
section.news .myself{
	display: flex;
	justify-content: space-around;
}
section.news .wrap .inner_wrap{
	width: 50%;
}
section.news .wrap .inner_wrap .title{
	font-family: Source Serif Pro;
	font-weight: bold;
	font-size: 36px;
	line-height: 77px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	color: #585959;
	padding-left: 15px;
	margin-bottom: 20px;
	height: 145px;
	display: flex;
	align-items: center;
}

/* %%%%% CONTACT %%%%% */
section.contact{
	margin-bottom: 110px;
	position: relative;
}
section.contact .location{
  max-width: 670px;
  width: 100%;
}
section.contact .location > .wrap{
	display: flex;
	align-items: center;
	margin-bottom: 26px;
}
section.contact .location > .wrap img{
	padding-right: 11px;
}
section.contact .location > .wrap span{
	font-family: FuturaDemiC;
	font-weight: 600;
	font-size: 20px;
	line-height: 23px;
	text-transform: uppercase;
	color: #585959;
}
section.contact .location .street{
	font-family: FuturaBookC;
	font-size: 23px;
	line-height: 28px;
	color: #585959;
	margin-bottom: 42px;
}
section.contact .location .phone{
	font-family: FuturaDemiC;
	font-weight: 600;
	font-size: 23px;
	line-height: 122.2%;
	color: #585959;
	transition: color .3s ease;
}
section.contact .location .phone:hover{
	color: #ccc;
}
section.about_us .email_to_person form,
section.contact form{
	height: 100%;
	background-color: #333333;
	padding-left: 60px;
	padding-top: 65px;
	position: absolute;
	right:0;
	top: 0;
	width: 50%;
	background-image: url('../image/quotes_black_2.png');
	background-position:bottom right;
	background-repeat: no-repeat;
}
section.about_us .email_to_person form .title,
section.contact form .title{
	font-family: Source Serif Pro;
	font-weight:500;
	font-size: 34px;
	line-height: 46px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	color: #F4F2EF;
	margin-bottom: 20px;
}
section.about_us .email_to_person form .desrcibe,
section.contact form .desrcibe{
	font-family: FuturaBookC;
	font-size: 24px;
	line-height: 27px;
	color: rgba(244, 242, 239, 0.79);
	max-width: 720px;
	margin-bottom: 50px;
}
section.about_us .email_to_person form textarea,
section.contact form textarea{
	width: 100%;
	display: block;
	border-bottom: 1px solid #F4F2EF;
	background-color: transparent;
	height: 60px;
	padding: 5px;
	color: #fff;
	font-family: FuturaBookC;
	font-size: 14px;
	resize: none;
	position: relative;
}
section.about_us .email_to_person form .cover.comment,
section.contact form .cover.comment{
	max-width: 520px;
	width: 100%;
}
section.about_us .email_to_person form textarea:hover:before,
section.contact form textarea:hover:before{
	width: 100%;
}
section.about_us .email_to_person form label,
section.contact form label{
	font-family: FuturaBookC;
	font-size: 14.4px;
	line-height: 16px;
	color: #CBCAC8;
}
section.about_us .email_to_person form .cover,
section.contact form .cover{
	display: flex;
	width: 50%;
	flex-direction: column;
	position: relative;
}
section.about_us .email_to_person form .cover:hover:before,
section.contact form .cover:hover:before{
	width: 100%;
}
section.about_us .email_to_person form .cover:before,
section.about_us .email_to_person form textarea:before,
section.contact form .cover:before,
section.contact form textarea:before{
	content: '';
	transition: width .3s ease;
	position: absolute;
	bottom: -1px;
	left: 50%;
	width: 0;
	height: 3px;
	background-color: #fff;
	transform: translateX(-50%);
}
section.about_us .email_to_person form .cover input,
section.contact form .cover input{
	border-bottom: 1px solid #F4F2EF;
	background-color: transparent;
	height: 30px;
	padding:1px 5px;
	color: #fff;
	font-family: FuturaBookC;
	font-size: 14px;
}
section.about_us .email_to_person form .cover.name,
section.about_us .email_to_person form .cover.name input,
section.contact form .cover.name,
section.contact form .cover.name input{
	width: 100%;
	max-width: 200px;
}
section.about_us .email_to_person form .cover.cont,
section.about_us .email_to_person form .cover.cont input,
section.contact form .cover.cont,
section.contact form .cover.cont input{
	width: 100%;
	max-width: 270px;
}
section.contact .location > h3{
	margin-bottom: 62px;
}
section.about_us .email_to_person form .wrap,
section.contact form .wrap{
	display: flex;
	justify-content: space-between;
	max-width: 520px;
	width: 100%;
	margin-top: 15px;
}
section.about_us .email_to_person form .submit,
section.contact form .submit{
	border: 2px solid #F4F2EF;
	padding: 16px 45px 16px 29px;
	transition: border .3s ease;
	margin-top: 50px;
	display: inline-block;
	cursor: pointer;
	position: relative;
}
section.about_us .email_to_person form .submit input,
section.contact form .submit input{
	font-family: FuturaDemiC;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #F4F2EF;
	background-color: transparent;
	cursor: pointer;
}
section.about_us .email_to_person form .submit:hover:before,
section.contact form .submit:hover:before{
	right: 15px;
}
section.about_us .email_to_person form .submit:before,
section.contact form .submit:before{
	content: url('../image/chevron.png');
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	transition: right .3s ease;
}
/* %%%%% MAP %%%%%*/
section.map{
	position: relative;
	height: 380px;
}
section.map iframe{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

/* %%%%%%%% MEDIA %%%%%% */
@media screen and (max-width: 1650px ){
	header .right nav ul li{
		margin-left: 30px;
	}
	header .right nav ul li:last-of-type{
		margin-right: 20px;
	}
}
@media screen and (max-width:  1500px){
	section.about_us .person .info_person{
		float: left;
	}
	section.about_us .person .image_1{
		float:right;
		position: static;
		width: 50%;
	}
	section.about_us .person .wrap{
		clear:both;
	}
	section.about_us .person .wrap .cover{
		width: 70%;
	}
	section.about_us .person .wrap .services{
		width: 30%;
	}
}
@media screen and (max-width:  1400px){
	header .right .titel h1{
		font-size: 45px;
		line-height: 60px;
	}
	header .right nav ul li{
		margin-left: 25px;
	}
}
@media screen and (max-width: 1350px){
	header{
		flex-direction: column-reverse;
		height: auto;
	}
	header .left, 
	header .right{
		width: 100%;
		height: 100vh;
	}
	section.about_us .describe .left > .wrap p{
		right: auto;
	}
	header .right .top_logo {
		display: flex;
	}
	header .left, header .right{
		overflow: hidden;
	}
	section.about_us .type{
		flex-direction: column;
		align-items: center;
	}
}
@media screen and (max-width: 1300px){
	section.news .wrap{
		flex-direction: column;
	}
	section.news .wrap .inner_wrap{
		width: 100%;
	}
	section.news .myself:before, 
	section.news .world:before{
		display: none;
	}
	section.news .item{
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 1250px){
	header .right .top_logo span{
		display: none;
	}
}
@media screen and (max-width: 1200px){
	section.contact > .container_small{
		display: flex;
		flex-direction: column;
	}
	section.contact form{
		position: static;
		margin-left: -15px;
		margin-right: -15px;
		width: calc(100% + 30px);
		max-width: 1027px;
		margin:0 auto;
		padding-bottom: 30px;
	}
	section.contact .location{
		margin-bottom: 50px;
		width: 100%;
	}
}
@media screen and (max-width:  1100px){
	section.about_us .describe{
		flex-direction: column-reverse;
	}
	section.about_us .describe .left, 
	section.about_us .describe .right{
		width: 100%;
	}
	section.about_us .describe .right > .wrap{
		max-width: 100%;
		align-items: center;
	}
	section.about_us .describe .right > .wrap img{
		transform: none;
		max-width: 33%;
	}
	section.about_us .describe .left > .wrap{
		background-size: 33%;
	}
	section.about_us .describe .left > .wrap p{
		bottom: auto;
		top: 50%;
		transform: translateY(-50%);
	}
}
@media screen and (max-width: 1000px){
	section.about_us .person > .wrap{
		flex-direction: column;
		align-items: center;
		background-position: 67% 78.6%;
		background-size: 100px;
	}
	section.about_us .person .wrap .cover{
		width: auto;
	}
	section.about_us .person .wrap .services{
		width: auto;
		padding: 30px 15px;
	}
	section.our_services > ul li span{
		font-size: 24px;
		line-height: 25px;
	}
}
@media screen and (max-width: 900px){
	header .right .top_logo{
		left: 10px;
	}
	section.about_us .type .item > p,
	section.about_us .type .item .title h2{
		white-space: normal;
	}
	.burger_menu_right{
		display: block;
	}
	header .right nav ul{
		transform: translateX(100%);
		flex-direction: column;
		align-items: flex-end;
		height: 100vh;
		justify-content: flex-start;
		float: right;
		max-width: 150px;
		background-color: rgba(0,0,0,.6); 
		padding-top: 60px;
		transition: transform .3s ease;
	}
	header .right nav.show ul{
		transform: translateX(0);
	}
	header .right nav ul li{
		margin: 10px 0;
	}
	header .right nav ul li:last-of-type{
		margin-right: 0;
	}
	header .right .titel .wrap{
		padding: 0 15px;
	}
	section.about_us .person .info_person{
		float: none;
		width: 100%;
	}
	section.about_us .person .image_1{
		float: none;
		display: block;
		margin:0 auto;
	}
	section.about_us .person .main_text{
		max-width: 100%;
	}
	section.about_us .person{
		background-size: 100px;
	}
	section.about_us .person .list{
		font-size: 22px;
		line-height: 30px;
	}
	section.about_us .person .wrap{
		padding-bottom: 20px;
		background-position: 67% 97.6%;
	}
	section.about_us .person .email_to_person > form{
		padding: 20px 30px;
		background-position: 2% 2%;
		background-size: 100px;
	}
	section.about_us .email_to_person form .desrcibe, 
	section.contact form .desrcibe{
		margin-bottom: 25px;
	}
	section.about_us .person .email_to_person form .wrap{
		padding-bottom: 30px;
	}
	section.about_us .type{
		margin-bottom: 50px;
	}
	section.our_services > h3, 
	section.news > h3, section.contact .location > h3{
		background-size: 100px;
		padding-top: 25px;
	}
	section.news .world, 
	section.news .myself{
		flex-wrap: wrap;
	}
	section.contact form{
		background-position: 98% 98%;
		background-size: 100px;
		padding: 20px 30px;
	}
	section.news{
		margin-bottom: 90px;
	}
}
@media screen and (max-width: 750px){
	section.our_services > ul li span:first-of-type{
		margin-left: 5px;
	}
}
@media screen and (max-width: 650px){
	section.about_us .describe .right > .wrap h2{
		font-size: 44px;
	}
  section.about_us .person .email_to_person form .wrap{
 		flex-direction: column;	
  }
	section.about_us .email_to_person form .cover.name, 
	section.about_us .email_to_person form .cover.name input, 
	section.contact form .cover.name, 
	section.contact form .cover.name input{
		max-width: 100%;
	}
	section.about_us .email_to_person form .cover.cont, 
	section.about_us .email_to_person form .cover.cont input, 
	section.contact form .cover.cont, 
	section.contact form .cover.cont input{
		max-width: 100%;
	}
	section.about_us .person .wrap .cover{
		margin-bottom: 20px;
	}
	section.about_us .email_to_person form .title, 
	section.contact form .title{
		font-size: 25px;
		line-height: 35px;
	}
	section.about_us .email_to_person form .desrcibe, 
	section.contact form .desrcibe{
		font-size: 16px;
		line-height: 21px;
	}
	section.our_services > h3, 
	section.news > h3, section.contact .location > h3{
		font-size: 44px;
	}
	section.about_us .person .wrap .services{
		font-size: 44px;
	}
	section.news .wrap .inner_wrap .title{
		font-size: 44px;
		line-height: 60px;
	}
	section.contact form .wrap{
		flex-direction: column;
	}
	section.contact form .cover.cont,
	section.contact form .cover.name{
		max-width: 100%;
		margin-bottom: 20px;
	}
	section.contact form .submit{
		margin-top: 30px;
	}
}
@media screen and (max-width: 600px){
	header .right .titel h1{
		font-size: 35px;
		text-align: center;
	}
	header .right .titel .describe{
		text-align: center;
	}
	section.about_us .person .wrap .cover{
		width: 100%;
		max-width: 100%;
	}
	section.our_services > ul li{
		padding-bottom: 20px;
		flex-direction: column;
		align-items: center;
	}
	section.our_services > ul li span:first-of-type{
		margin-left: 0;
		padding-right: 0;
		margin-bottom: 10px;
		text-align: center;
	}
	section.our_services > ul li span:last-of-type{
		padding: 10px;
		text-align: center;
	}
	section.our_services > ul li:before{
		bottom: 0;
		top: auto;
		transform: none;
		width: 100%;
	}
	section.news .wrap .inner_wrap .title{
		font-size: 7vw;
		line-height: 10vw;
	}
}
@media screen and (max-width: 550px){
	section.about_us .type .item .title h2{
		font-size: 25px;
		margin-left: 25px;
	}
	section.about_us .type .item .title img{
		max-height: 50px;
	}
}
@media screen and (max-width: 450px){
	header .right .titel h1{
		font-size: 25px;
		line-height: 40px;
		margin-bottom: 20px;
	}
	section.about_us .describe .right > .wrap h2{
		font-size: 31px;
	}
	section.our_services > h3, section.news > h3, 
	section.contact .location > h3{
		font-size: 41px;
		line-height: 50px;
	}

}
@media screen and (max-width: 400px){
	section.about_us .type .item .title h2{
		line-height: 29px;
		font-size: 17px;
		margin-left: 20px;
	}
	section.contact .location > .wrap{
		margin-bottom: 40px;
		font-size: 16px;
	}
}