@import "fonts";
body{
	-webkit-font-smoothing:antialiased;
	-webkit-overflow-scrolling:touch;
	min-width: 320px;
	background:#edf2f1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
p,h2{
	margin: 0;
}
a,
a:hover,
a:focus{
	text-decoration: none;
}
li{
	list-style: none;
}
button{
	background: none;
	border: none;
}
//MIXIN
$left-before-img:-45px;
@mixin left-before-img($left-before-img) {
	position:absolute;
	left: $left-before-img;
	transform:translateX(-50%);
}
//MIXIN
// ANIMATION
@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
 }
// HEADER BLOCK
header {
	 background-color: #4c4c4c;
	 height: 35px;
	 display: flex;
	 align-items: center;
	 position:fixed;
	 left: 0;
	 right:0;
	 z-index: 20;
		& .header_line{
		 display: flex;
		 justify-content: space-between;
		 max-width: 1000px;
		 width: 100%;
		 margin:auto;
		 	& .time_to_work{
		 		display: inline-flex;
		 		justify-content: space-between;
		 		align-items: center;
		 		position:relative;
		 		& p{
		 			font-family: 'MinionPro-Regular';
		 			color: #fff;
		 		}
		 		&:hover .time_to_work_full{
		 			display:block;
		 		}
		 		& .time_to_work_full{
		 			position:absolute;
		 			display:none;
		 			background:#4c4c4c;
		 			top: 100%;
		 			left: 50%;
		 			transform: translateX(-50%);
		 			z-index: 10;
		 			max-width: 175px;
		 			width: 100%;
		 			padding-top:15px;
		 			padding-bottom:15px;
		 			& p{
		 				font-family: 'DejaVuSerif-Bold';
		 				font-size:13px;
		 				color:#dadada;
		 				display:block;
		 				text-align: center;
		 				margin-bottom: 10px;
		 			}
		 			& span{
		 				font-size:9px;
		 				color:#fff;
		 			}
		 			& ul{
		 				font-family: 'ProximaNovaSemibold';
		 				max-width: 140px;
		 				margin:0 auto;
		 			}
		 			& li{
		 				display:flex;
		 				justify-content:space-between;
		 				margin-bottom: 7px;
		 			}
		 			& a{
		 				font-family: 'ProximaNovaSemibold';
		 				line-height: 30px;
		 				display:block;
		 				width: 130px;
		 				height: 30px;
		 				text-align: center;
		 				background:#ccc;
		 				font-size:16px;
		 				margin:8px auto 0 auto;
		 				color:#000;
		 				&:hover{
		 					background:#000;
		 					color:#ccc;
		 				}
		 			}
		 		}
				& .wrappe_img{
					display: inline-block;
					& img{
						display: inline-block;
						vertical-align: bottom;
					}
				}
		 	}
		 	& .time_to_work p{
		 		display: inline-block;
		 		font-size:11px;
		 		width: 175px;
				.open_close{
					color:#74e78b;
					padding: 0 5px;
					font-size:16px;
				}
				.time-of-work{
					font-size:11px;
				}
		 	}
			& .location{
				font-family: 'DejaVuSerif-Bold';
				display: inline-block;
				align-items: center;
				& .wrappe{
					display: inline-block;
					color:#fff;
					& p:first-of-type{
						font-size: 13px;
						text-align: center;
					}
					& p:last-of-type{
						font-size:9px;
					}
				}
			}
			& .telephon_number{
				font-family: 'DejaVuSerif-Bold';
				color:#fff;
				font-size:13px;
				display: flex;
				align-items: center;
		 		justify-content: space-between;
		 		
		 		&:hover{
		 			cursor:pointer;
		 		}
				&:hover span img{
					animation: swing 0.6s ease;
					animation-iteration-count: 1;
				}
				& span{
					display: flex;
					padding-right:15px;
					& img{
						vertical-align:bottom;

					}
				}
				& p{
					display: inline-block;
				}
			}
		}
}
// %%%% SIDEBAR %%%%
.conten_block_sidebar{
	max-width: 2800px;
	margin:0 auto;
	position:relative;
	display: flex;
	padding:0 15px;
	& aside{
		width: 244px;//Одинаково з шириною sidebar
		display:block;
		vertical-align:top;
		position:fixed;
		top:35px;
		bottom:0;
		& .sidebar_menu{
			  font-family: "proximanovasemibold";
			& .social_block{
				text-align: center;
				vertical-align:bottom;
				margin-top:40px;
				& a{
					margin:0 6px;
					& img{
						transition: .7s ease;
						filter: opacity(30%);
						&:hover{
							transform: rotate(360deg);
							transition: .7s ease;
						}
					}
				}
			}
			& .logo{
				margin:50px 0 50px 25px;
				transition: 0.5s ease;
				&:hover{
					transform: scale(1.1);
					transition: 0.5s ease;
				}
			}
			& ul{
				padding-left:25px;
				text-transform:uppercase;
				& .dropdown_sidebar{
					&:hover{
						color:#ccc;
						cursor: pointer;
					}
				}
				& .dropdown_sidebar ul{
					display: none;
					padding-left:0;
					margin-top: 10px;
					& li{
						padding-left:17px;
						&:first-of-type:after{
							content:'';
							width: 100%;
							height: 1px;
							background:#ccd0d0;
							position:absolute;
							top:0;
							left: -7px;
						}
					}
				}
				& .dropdown_sidebar.open ul{
					display: block;
				}
				& .dropdown_sidebar ul li{
					font-size:13px;
				}
				& li{
					font-size:18px;
					padding:10px 0; ;
					position:relative;
					max-width: 193px;
					& a{
    					font-family: 'proximanovasemibold';
						color:#000;
							&:hover{
								color:#ccc;
							}
					}
					&:before{
						content: '';
						position:absolute;
						left: -7px;
						bottom:0;
						width: 100%;
						height: 1px;
						background:#ccd0d0;
					}
					&:last-of-type:before{
						display: none;
					}
				}
			}
		}
	}
	// %%%% INFO BLOCK %%%%
	& section{
		width: 100%;
		display: block;
		margin-left:244px;//Одинаково з шириною sidebar
		border-left: 1px solid #cfd4d3;
		overflow: hidden;
		& .block_one{
			margin-top:35px;
			position:relative;
			&:before{
				content:'';
				padding:0 0 60.9% 0;
				display:block;
			}
			& .owl-carousel.owl-theme{
				height: 100%;
				width: 100%;
			}
			& .owl-stage-outer{
				width: 100%;
				height: 100%;
			}
			& .owl-stage{
				height: 100%;
				width: 100%;
			}
			& .owl-item{
				height: 100%;
			}
			& .item{
				position:relative;
				background-position:center;
				background-size:cover;
				width: 100%;
				height: 100%;
				position:relative;
				display: flex;
				align-items:center;
				justify-content: center;
				&  .wrappe_text{
					p{
						margin:20px 0;
						font-size:26px;
						font-family: 'ProximaNovaSemibold';
					}
				}
			}
			& .text_of_first_block{
				font-family: 'ProximaNovaSemibold';
				position:absolute;
				width:100%;
				height: 100%;
				top: 0;
				left: 0;
				bottom:0;
				right:0;
			}
		}
		& .block_two{
			margin:100px auto 0 auto;
			border:5px solid #fff;
			max-width: 650px;
			padding-top:30px;
			padding-bottom:15px;
			position:relative;
				.big_line{
					height: 5px;
					background:#fff;
					position:absolute;
					width: 28%;
					top: 42px;
					left: -125px;
				}
				.block_two_wrappe{
					display:flex;
					flex-direction: column;
					align-items:center;			
					max-width: 515px;
					width: 100%;
					margin:0 auto;
				}
			& .next{
				width: 100%;
				& a{
					font-weight: bold;
					margin-top: 20px;
					margin-right:15px;
					text-align: center;
					background:#fff;
					float:right;
					width: 150px;
					height:30px;
					line-height: 30px;
					font-size:13px;
					color:#000;
					font-family: 'ProximaNovaSemibold';
					&:hover{
						background:#000;
						color:#ccc;
					}
				}		
			}
				& .our_work{
					font-family: 'ProximaNovaSemibold';
					& h2{
						font-size:26px;
						text-transform: uppercase;
					}
					& p{
						font-size:22px;
						margin-top: 40px;
					}
				}
				& .image_block_two{
					margin-top: 40px;
					display:flex;
					justify-content:space-between;
					max-width: 515px;
					width: 100%;		
						.img_med{
						width: 112px;
						height: 112px;
						background-size:cover;
						background-position:center;
						background-repeat:no-repeat;
						border-radius:50%;
						transition: .5s ease all;
						&:hover{
							border-radius:25%;
							transition: .5s ease all;
						}
					}
					.wrappe_item_med{
						display:flex;
						flex-direction:column;
						max-width: 150px;
						align-items:center;
					}
					.text_med{
						margin-top: 30px;
						color:#000;
						font-weight: bold;
						font-family: 'ProximaNovaSemibold';
						& p:first-of-type{
							font-size:13px;
						}
						& p:last-of-type{
							font-size:9px;
						}
					}
				}
		}
		& .block_three{
			max-width: 790px;
			margin:100px auto 0 auto;
			& .line{
				width: 100%;
				height: 1px;
				background:#8f9292;
				margin-bottom: 50px;
			}
			& .block_three_wrappe{	
				display:flex;
				justify-content:space-between;
				margin-bottom:35px;
				& .wrappe_img_three img{
					height: 350px;
					max-width: 350px;
				}
				& .wrappe_text_three{
					font-family: 'ProximaNovaSemibold';
					font-weight:bold;
					max-width: 400px;
					& h2{
						font-size:30px;
						margin-bottom:20px;
					}
					& p{
						font-size:13px;
						margin-bottom:15px;
					}
					& a{
						width: 150px;
						height:30px;
						line-height:30px;
						text-align: center;
						background:#fff;
						float: right;
						margin-right:65px;
						color: #000;
						font-size:13px;
						&:hover{
							color:#ccc;
							background:#000;
						}
					}
				}
			}
		}
		& .block_four{
			margin-top: 100px;
			& .location_map{				
				height: 285px;
				background-position:center;
				background-size:cover;
				background-repeat:no-repeat;
				position:relative;
				overflow: hidden;
				& .mask_map{
					display:flex;
					flex-direction: column;
					align-items:flex-start;
					width: 320px;
					position:absolute;
					bottom:0;
					height: 100%;
					left: 45%;
					z-index: 10;
					font-family: 'ProximaNovaSemibold';
					& > div > p > span{
						display:block;
						color:#fff;
						font-size:11px;
					}
					& > div{
						display:flex;
						margin-left:100px;
						margin-bottom: 20px;
						position:relative;
					}
					& > div> div{
						margin-right: 25px;
					}
					& .logo_text{
						margin-top: 40px;
						color:#fff;
						flex-direction:column;
						& h2{
							font-size:23px;
						}
						&:before{
							content: url('../images/logo_small.png');
							@include left-before-img($left-before-img);
						}
					}
					& .location_adress:before{
						content:url('../images/location_red.png');
						@include left-before-img($left-before-img);
					}
					& .telephon_number:before{
						content:url('../images/phone.png');
						@include left-before-img($left-before-img);
					}
					& .email_contact:before{
						content:url('../images/sobaka.png');
						@include left-before-img($left-before-img);
					}
				}
				& .trap{
					background:rgba(0,0,0,0.8);
					position:absolute;
					transform: skew(-15deg);
					left: 45%;
					width: 320px;
					bottom:0;
					height: 100%;
					z-index: 0;
				}
			}
		}
		& .block_five_form{
			margin-left:145px;
			margin-top:200px;
			margin-bottom: 250px;
			position:relative;
			.vertical_line{
				height:525px;
				width: 5px;
				background:#fff;
				position:absolute;
				left: -65px;
				top: -90px;
			}
			.horizontal_line{
				width: 105%;
				height:5px;
				background:#fff;
				position:absolute;
				top: -60px;
				left: -120px;
			}
			& form{
				max-width: 430px;
				display: flex;
				flex-direction:column;
				.error-line{
					margin-top: 30px;
					display:none;
					max-width: 430px;
					width: 100%;
					height:25px;
					border:2px solid #ff0000;
					background:#fff;
					color:#ff0000;
					font-family: 'DejaVuSerif-Italic';
					font-size:12px;
					vertical-align:bottom;
					align-items:center;
					justify-content:space-around;
		 		}
				.error-line.open{
					display:flex;
				}
				& input{
					height: 26px;
					padding-left:10px;
					font-size:12px;
					color:#8a8a8a;
					position:relative;
					border:none;
					font-family: 'DejaVuSerif-Italic';
				}
				& textarea{
					height: 85px;
					padding-left:10px;
					padding-top:5px;
					margin-top:15px;
					font-size:12px;
					color:#8a8a8a;
					border:none;
					font-family: 'DejaVuSerif-Italic';
				}
				& .wrappe_form{
					display:flex;
					flex-direction:column;
				}
				& .necessarily_line{
					font-family: 'DejaVuSerif-Italic';
					font-size:12px;
					color:#ccc;
					margin-bottom: 15px;
					& span{
						color:#ff0000;
					}
				}
				& .necessarily{
					position:relative;
					&::after{
						content:'*';
						display:block;
						color:#ff0000;
						position:absolute;
						left: 0;
						top:25%;
					}
				}
				& .necessarily.phone{
					width: 100%;
					& input{
						width: 100%;
					}
				}
			}
			& form h3{
				font-size:24px;
				text-transform: uppercase;
				margin-bottom:25px;
				font-family: 'DejaVuSerif-Bold';
			}
			& .name_last{
				display: flex;
				justify-content:space-between;
				margin-bottom:15px;
				& input{
					width: 46.5%;
				}
				& .necessarily{
					width: 46.5%;
					& input{
						width: 100%;
					}					
				}
			}
			& .submit_button{
				display:flex;
				align-items: baseline;
				& button{
					font-family: 'DejaVuSerif-Bold';
					width: 122px;
					height: 36px;
					background:#000;
					color: #fff;
					font-size:13px;
					margin-top:20px;
					cursor:pointer;
					&:hover{
						background:#ccc;
						color:#000;
					}
				}
				& p{
					width: 196px;
					font-size:9px;
					margin-left:15px;
					color:#ccc;
					font-family: 'DejaVuSerif-Bold';
				}
			}
		}
		.block_six_response{
			margin-left:145px;
			margin-bottom: 50px;
			padding-top:50px;
			position:relative;
			.block_six_response_mask{
				position:absolute;
				top:0;
				bottom: -50px;
				width: 430px;
				background:#fff;
				display:block;
				.wrappe_block_social{
					display:flex;
					flex-direction:column;
					align-items:center;
					position: absolute;
					width: 100%;
					top: 50%;
					transform: translateY(-50%);
					h3{
						font-size:16px;
						margin-bottom: 20px;
						font-family: 'ProximaNovaSemibold';
						font-weight:300;
					}
					.social_block_footer{
						img{
							transition: .7s all;
							&:hover{
								transform: rotate(360deg);
							}
						}
						a{
							margin:0 10px;
						}
					}
					.info_block{
						font-family: 'ProximaNovaSemibold';
						background:#edf2f1;
						font-size:10px;
						height:30px;
						line-height:30px;
						padding:0 10px;
						margin-top: 20px;
						cursor:pointer;
						&:hover{
							color: #ccc;
							background:#000;
						}
					}
				}
			}
			.block_six_response_mask.close{
				display:none;
			}
			form{
				max-width: 430px;
				font-size:12px;
				display:flex;
				flex-direction:column;
				.name_last_wrappe{
					display:flex;
					justify-content:space-between;
					input{
						width: 200px;
					}
				}
				input{
					font-family: 'DejaVuSerif-Italic';
					height: 26px;
					border:none;
					margin-bottom: 15px;
					padding:0 10px;
				}
				textarea{
					font-family: 'DejaVuSerif-Italic';
					border:none;
					padding:10px;
					height:100px;
				}
				.wrappe_file_unload{					
					margin:15px 0;
					display:flex;
					font-family: 'ProximaNovaSemibold';
				}
				.file_unload{
					font-size:14px;
					text-decoration:underline;
					cursor:pointer;
					&:hover{
						color: #ccc;
					}
					input{
						display:none;
					}
				}
				.submit_button{
					display:flex;
					align-items:baseline;
					button{
					font-family: 'DejaVuSerif-Bold';
					width: 122px;
					height: 36px;
					background:#000;
					color: #fff;
					font-size:13px;
					cursor:pointer;
					&:hover{
						background:#ccc;
						color:#000;
					}
					}
					p{
						width: 196px;
						font-size:9px;
						margin-left:15px;
						color:#ccc;
						font-family: 'DejaVuSerif-Bold';
					}
				}

			}
		}
	}
}
footer{
	max-width: 2800px;
	padding:0 15px;
	margin:0 auto;
	& .out_block{
		margin-left: 244px;
		padding-bottom:50px;
		border-left: 1px solid #cfd4d3;
		padding-top:50px;
	}
	& .wrappe_footer{
		display: flex;
		justify-content:space-around;
		align-items:center;
		color:#000;
		margin:30px auto;
		& .footer_logo{
			transition: 0.5s ease;
				&:hover{
					transform: scale(1.1);
					transition: 0.5s ease;
				}
		}
		& .social_block_footer a img{
				transition: .7s ease;
			&:hover{
				transform: rotate(360deg);
				transition: .7s ease;
			}
		}
		& .block_info{
    		font-family: 'ProximaNovaSemibold';
			font-size:9px;
			font-weight: bold;
			& p{
				margin:5px 0;
			}
		}
		& .social_block_footer{
			& a{
				margin:0 10px;
			}
			& h3{
				font-family: 'ProximaNovaSemibold';
				color:rgba(0,0,0,.6);
				text-align: center;
				font-size:9px;
				margin-top: 5px;
			}
		}

	}
	& .line_footer{
		max-width: 1100px;
		height: 2px;
		background:#8e9191;
		margin:0 auto;
	}
}