@import "fonts";
body{
	-webkit-font-smoothing:antialiased;
	-webkit-overflow-scrolling:touch;
	min-width: 320px;
	background:#edf2f1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
p,h2{
	margin: 0;
}
a,
a:hover,
a:focus{
	text-decoration: none;
}
li{
	list-style: none;
}
button{
	background: none;
	border: none;
}
a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
//MIXIN
$left-before-img:-45px;
@mixin left-before-img($left-before-img) {
	position:absolute;
	left: $left-before-img;
	transform:translateX(-50%);
}
//MIXIN
// ANIMATION
@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
 }
 @keyframes show_info {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-45deg);
  }
 }
// HEADER BLOCK
header {
	 background-color: #4c4c4c;
	 height: 35px;
	 display: flex;
	 align-items: center;
	 position:fixed;
	 left: 0;
	 right:0;
	 z-index: 20;
		& .header_line{
		 display: flex;
		 justify-content: space-between;
		 max-width: 1000px;
		 width: 100%;
		 margin:auto;
		 padding:0 15px;
		 position:relative;
		 .more_info{
		 	display:none;
		 }
		 	& .time_to_work{
		 		display: inline-flex;
		 		justify-content: space-between;
		 		align-items: center;
		 		position:relative;
		 		& p{
		 			font-family: 'MinionPro-Regular';
		 			color: #fff;
		 		}
		 		&:hover .time_to_work_full{
		 			display:block;
		 		}
		 		& .time_to_work_full{
		 			position:absolute;
		 			display:none;
		 			background:#4c4c4c;
		 			top: 100%;
		 			left: 50%;
		 			transform: translateX(-50%);
		 			z-index: 10;
		 			max-width: 175px;
		 			width: 100%;
		 			padding-top:15px;
		 			padding-bottom:15px;
		 			& p{
		 				font-family: 'DejaVuSerif-Bold';
		 				font-size:13px;
		 				color:#dadada;
		 				display:block;
		 				text-align: center;
		 				margin-bottom: 10px;
		 			}
		 			& span{
		 				font-size:9px;
		 				color:#fff;
		 			}
		 			& ul{
		 				font-family: 'ProximaNovaSemibold';
		 				max-width: 140px;
		 				margin:0 auto;
		 			}
		 			& li{
		 				display:flex;
		 				justify-content:space-between;
		 				margin-bottom: 7px;
		 			}
		 			& a{
		 				font-family: 'ProximaNovaSemibold';
		 				line-height: 30px;
		 				display:block;
		 				width: 130px;
		 				height: 30px;
		 				text-align: center;
		 				background:#ccc;
		 				font-size:16px;
		 				margin:8px auto 0 auto;
		 				color:#000;
		 				&:hover{
		 					background:#000;
		 					color:#ccc;
		 				}
		 			}
		 		}
				& .wrappe_img{
					display: inline-block;
					& img{
						display: inline-block;
						vertical-align: bottom;
					}
				}
		 	}
		 	& .time_to_work p{
		 		display: inline-block;
		 		font-size:11px;
		 		width: 175px;
				.open_close{
					color:#74e78b;
					padding: 0 5px;
					font-size:16px;
				}
				.time-of-work{
					font-size:11px;
				}
		 	}
			& .location{
				font-family: 'DejaVuSerif-Bold';
				display: inline-block;
				align-items: center;
				& .wrappe{
					display: inline-block;
					color:#fff;
					& p:first-of-type{
						font-size: 13px;
						text-align: center;
					}
					& p:last-of-type{
						font-size:9px;
					}
				}
			}
			& .telephon_number{
				font-family: 'DejaVuSerif-Bold';
				color:#fff;
				font-size:13px;
				display: flex;
				align-items: center;
		 		justify-content: space-between;
		 		
		 		&:hover{
		 			cursor:pointer;
		 		}
				&:hover span img{
					animation: swing 0.6s ease;
					animation-iteration-count: 1;
				}
				& span{
					display: flex;
					padding-right:15px;
					& img{
						vertical-align:bottom;

					}
				}
				a{
					display: inline-block;
					color:#fff;
				}
			}
		}
}
// %%%% SIDEBAR %%%%
.conten_block_sidebar{
	max-width: 2800px;
	margin:0 auto;
	position:relative;
	display: flex;
	& aside{
		width: 244px;//Одинаково з шириною sidebar
		display:block;
		vertical-align:top;
		position:fixed;
		top:35px;
		bottom:0;
		transition: 0.5s ease all;
		.sidebar_open{
	  	display:none;
	  }
		& .sidebar_menu{
			  font-family: "proximanovasemibold";
			  overflow-y:auto;
			& .social_block{
				text-align: center;
				vertical-align:bottom;
				margin-top:40px;
				padding-bottom:30px;
				& a{
					margin:0 6px;
					& img{
						transition: .7s ease;
						filter: opacity(30%);
						&:hover{
							transform: rotate(360deg);
							transition: .7s ease;
						}
					}
				}
			}
			& .logo{
				margin:50px 0 50px 25px;
				transition: 0.5s ease;
				&:hover{
					transform: scale(1.1);
					transition: 0.5s ease;
				}
			}
			& ul{
				padding-left:25px;
				text-transform:uppercase;
				& .dropdown_sidebar{
					position:relative;
					&:hover{
						color:#ccc;
						cursor: pointer;
					}
					&:after{
						content:'\f078';
						font-family: 'FontAwesome';
						position: absolute;
						right:10px;
						top:12px;
						transition:.5s ease all;
					}
					&:hover:after{
						border-top-color: #ccc;
					}
					&.open:after{
						transform: rotate(180deg);
					}
				}
				& .dropdown_sidebar ul{
					padding-left:0;
					margin-top: 10px;
					& li{
						padding-left:17px;
						&:first-of-type:after{
							content:'';
							width: 100%;
							height: 1px;
							background:#ccd0d0;
							position:absolute;
							top:0;
							left: -7px;
						}
					}
				}
				& .dropdown_sidebar ul li{
					font-size:13px;
				}
				& li{
					font-size:18px;
					padding:10px 0; ;
					position:relative;
					max-width: 193px;
					& a{
    					font-family: 'proximanovasemibold';
						color:#000;
							&:hover{
								color:#ccc;
							}
					}
					&:before{
						content: '';
						position:absolute;
						left: -7px;
						bottom:0;
						width: 100%;
						height: 1px;
						background:#ccd0d0;
					}
					&:last-of-type:before{
						display: none;
					}
				}
			}
		}
	}
	// %%%% INFO BLOCK %%%%
	& section{
		width: 100%;
		display: block;
		margin-left:244px;//Одинаково з шириною sidebar
		border-left: 1px solid #cfd4d3;
		overflow: hidden;
		position:relative;
		& .block_one{
			margin-top:35px;
			position:relative;
			&:before{
				content:'';
				padding:0 0 60.9% 0;
				display:block;
			}
			& .owl-carousel.owl-theme{
				height: 100%;
				width: 100%;
			}
			& .owl-stage-outer{
				width: 100%;
				height: 100%;
			}
			& .owl-stage{
				height: 100%;
				width: 100%;
			}
			& .owl-item{
				height: 100%;
			}
			& .item{
				position:relative;
				background-position:center;
				background-size:cover;
				width: 100%;
				height: 100%;
				position:relative;
				display: flex;
				align-items:center;
				justify-content: center;
				padding:10px;
				&  .wrappe_text{


					p{
						margin:20px 0;
						font-size:26px;
						font-family: 'ProximaNovaSemibold';
					}
					a{
						font-family: 'ProximaNovaSemibold';
						font-size: 22px;
						color:#fff;
						background:rgba(0,0,0,0.6);
						padding:10px 15px;
						text-transform:uppercase;
						margin-top: 10px;
						&:hover{
							background:rgba(0,0,0,1);
						}
					}
				}
			}
			& .text_of_first_block{
				font-family: 'ProximaNovaSemibold';
				position:absolute;
				width:100%;
				height: 100%;
				top: 0;
				left: 0;
				bottom:0;
				right:0;
			}
		}
		& .block_two{
			margin:100px auto 0 auto;
			border:5px solid #fff;
			max-width: 650px;
			padding:30px 10px 15px 10px;
			position:relative;
			opacity: 1;
			//transform:translateY(100px);
			transition:1s ease all;
			// &.show{
			// opacity: 1;
			// transform:translateY(0);
			// }
				.big_line{
					height: 5px;
					background:#fff;
					position:absolute;
					width: 28%;
					top: 42px;
					left: -125px;
				}
				.block_two_wrappe{
					display:flex;
					flex-direction: column;
					align-items:center;			
					max-width: 515px;
					width: 100%;
					margin:0 auto;
				}
			& .next{
				width: 100%;
				& a{
					font-weight: bold;
					margin-top: 20px;
					margin-right:15px;
					text-align: center;
					background:#fff;
					float:right;
					width: 150px;
					height:30px;
					line-height: 30px;
					font-size:13px;
					color:#000;
					font-family: 'ProximaNovaSemibold';
					&:hover{
						background:#000;
						color:#ccc;
					}
				}		
			}
				& .our_work{
					font-family: 'ProximaNovaSemibold';
					& h2{
						font-size:26px;
						text-transform: uppercase;
					}
					& p{
						font-size:22px;
						margin-top: 40px;
					}
				}
				& .image_block_two{
					margin-top: 40px;
					display:flex;
					justify-content:space-between;
					max-width: 515px;
					width: 100%;		
						.img_med{
						width: 112px;
						height: 112px;
						background-size:cover;
						background-position:center;
						background-repeat:no-repeat;
						border-radius:50%;
						transition: .5s ease all;
						&:hover{
							border-radius:25%;
							transition: .5s ease all;
						}
					}
					.wrappe_item_med{
						display:flex;
						flex-direction:column;
						max-width: 150px;
						align-items:center;
					}
					.text_med{
						margin-top: 30px;
						color:#000;
						font-weight: bold;
						font-family: 'ProximaNovaSemibold';
						& p:first-of-type{
							font-size:13px;
						}
						& p:last-of-type{
							font-size:9px;
						}
					}
				}
		}
		& .block_three{
			max-width: 790px;
			margin:100px auto 0 auto;
			opacity: 1;
			padding:0 15px;
			//transform:translateX(-200px);
			transition: 1s ease all;
			// &.show{
			// opacity: 1;
			// transform:translateX(0);
			// }
			& .line{
				width: 100%;
				height: 1px;
				background:#8f9292;
				margin-bottom: 50px;
			}
			& .block_three_wrappe{	
				display:flex;
				justify-content:space-between;
				margin-bottom:35px;
				.wrappe_img_three{
				margin-right: 10px;
					img{
					max-height: 350px;
					max-width: 350px;
					width: 100%;
					float:left;
					display:inline-block;
				}
				h2{
					float:right;
				}
				.test{
					float:right;
					display:inline-block;
				}
				}
				& .wrappe_text_three{
					font-family: 'ProximaNovaSemibold';
					font-weight:bold;
					max-width: 400px;
					width: 100%;
					& h2{
						font-size:30px;
						margin-bottom:20px;
					}
					& p{
						font-size:13px;
						margin-bottom:15px;
					}
					& a{
						width: 150px;
						height:30px;
						line-height:30px;
						text-align: center;
						background:#fff;
						float: right;
						margin-right:65px;
						color: #000;
						font-size:13px;
						&:hover{
							color:#ccc;
							background:#000;
						}
					}
				}
			}
		}
		& .block_four{
			margin-top: 100px;
			opacity:1;
			//transform:translateX(200px);
			transition: 1s ease all;
			// &.show{
			// opacity: 1;
			// transform:translateX(0);
			// }
			& .location_map{				
				height: 285px;
				background-position:center;
				background-size:cover;
				background-repeat:no-repeat;
				position:relative;
				overflow: hidden;
				& .mask_map{
					display:flex;
					flex-direction: column;
					align-items:flex-start;
					width: 320px;
					position:absolute;
					bottom:0;
					height: 100%;
					left: 51%;
					z-index: 5;
					transform:translateX(-50%);
					font-family: 'ProximaNovaSemibold';
					& > div > p > span{
						display:block;
						color:#fff;
						font-size:11px;
					}
					& > div{
						display:flex;
						margin-left:100px;
						margin-bottom: 20px;
						position:relative;
					}
					& > div> div{
						margin-right: 25px;
					}
					& .logo_text{
						margin-top: 40px;
						color:#fff;
						flex-direction:column;
						& h2{
							font-size:23px;
						}
						&:before{
							content: url('../images/logo_small.png');
							@include left-before-img($left-before-img);
						}
					}
					& .location_adress:before{
						content:url('../images/location_red.png');
						@include left-before-img($left-before-img);
					}
					& .telephon_number:before{
						content:url('../images/phone.png');
						@include left-before-img($left-before-img);
					}
					& .email_contact:before{
						content:url('../images/sobaka.png');
						@include left-before-img($left-before-img);
					}
				}
				& .trap{
					background:rgba(0,0,0,0.8);
					position:absolute;
					transform: skew(-15deg) translateX(-50%);
					left: 50%;
					width: 320px;
					bottom:0;
					height: 100%;
					z-index: 0;
				}
			}
		}
		& .block_five_form{
			position:relative;
			margin:100px auto 250px auto;
			padding-top:100px;
			max-width: 430px;
			opacity:1;
			transition: 1s ease all;
			//transform:translateX(-200px);
			// &.show{
			// 	opacity:1;
			// 	transform:translateX(0);
			// }
			.vertical_line{
				height:525px;
				width: 5px;
				background:#fff;
				position:absolute;
				left: -65px;
				top: 10px;
			}
			.horizontal_line{
				width: 550px;
				height:5px;
				background:#fff;
				position:absolute;
				top: 60px;
				left: -120px;
			}
			& form{
				max-width: 430px;
				display: flex;
				flex-direction:column;
				.error-line{
					margin-top: 30px;
					display:none;
					max-width: 430px;
					width: 100%;
					height:25px;
					border:2px solid #ff0000;
					background:#fff;
					color:#ff0000;
					font-family: 'DejaVuSerif-Italic';
					font-size:12px;
					vertical-align:bottom;
					align-items:center;
					justify-content:space-around;
		 		}
				.error-line.open{
					display:flex;
				}
				& input{
					height: 26px;
					padding-left:10px;
					font-size:12px;
					color:#8a8a8a;
					position:relative;
					border:none;
					font-family: 'DejaVuSerif-Italic';
				}
				& textarea{
					height: 85px;
					padding-left:10px;
					padding-top:5px;
					margin-top:15px;
					font-size:12px;
					color:#8a8a8a;
					border:none;
					font-family: 'DejaVuSerif-Italic';
				}
				& .wrappe_form{
					display:flex;
					flex-direction:column;
				}
				& .necessarily_line{
					font-family: 'DejaVuSerif-Italic';
					font-size:12px;
					color:#ccc;
					margin-bottom: 15px;
					& span{
						color:#ff0000;
					}
				}
				& .necessarily{
					position:relative;
					&::after{
						content:'*';
						display:block;
						color:#ff0000;
						position:absolute;
						left: 0;
						top:25%;
					}
				}
				& .necessarily.phone{
					width: 100%;
					& input{
						width: 100%;
					}
				}
			}
			& form h3{
				font-size:24px;
				text-transform: uppercase;
				margin-bottom:25px;
				font-family: 'DejaVuSerif-Bold';
			}
			& .name_last{
				display: flex;
				justify-content:space-between;
				margin-bottom:15px;
				& input{
					width: 46.5%;
				}
				& .necessarily{
					width: 46.5%;
					& input{
						width: 100%;
					}					
				}
			}
			& .submit_button{
				display:flex;
				align-items: baseline;
				& button{
					font-family: 'DejaVuSerif-Bold';
					width: 122px;
					height: 36px;
					background:#000;
					color: #fff;
					font-size:13px;
					margin-top:20px;
					cursor:pointer;
					&:hover{
						background:#ccc;
						color:#000;
					}
				}
				& p{
					width: 196px;
					font-size:9px;
					margin-left:15px;
					color:#ccc;
					font-family: 'DejaVuSerif-Bold';
				}
			}
		}
		.peoples_reviews_block{
			max-width: 1000px;
			width: 100%;
			opacity: 1;
			//transform:translateX(200px);
			transition:1s ease all;
			padding:0 30px;
			// &.show{
			// 	opacity:1;
			// 	transform:translateX(0);
			// }
			.owl-theme .owl-nav [class*="owl-"]{
				margin:0;
			}
			.add_post{
				margin-top: 50px;
				text-align: center;
				button{
					font-family: 'ProximaNovaSemibold';
					font-size: 24px;
					color:#000;
					cursor:pointer;
					background:#fff;
					padding:5px 20px;
					&:hover{
						background:#ccc;
					}
				}
			}
			margin:0 auto;
			h2{
				font-size: 24px;
				margin-bottom: 50px;
				font-family: 'ProximaNovaSemibold';
				text-align: center;
			}
			.reviews-slider{
				position:relative;
				.owl-prev,
				.owl-next{
					position:absolute;
					top: 50%;
					width: 50px;
					height:50px;
					background:#edf2f1;
					border-radius:50%;
					img{
					width: 35px;	
					}
				}
				.owl-prev{
					left: 0;
					transform:translateX(-50%) translateY(-50%);
					transition:0.3s ease all;
					&:hover{
						transform:translateX(-60%) translateY(-50%);
					}
				}
				.owl-next{
					right:0;
					transform:translateX(50%) translateY(-50%);
					transition:0.3s ease all;
					&:hover{
						transform:translateX(60%) translateY(-50%);
					}
				}
			}
			.item{
				width: 100%;
				background:#ffffff;
				display:flex;
				justify-content:space-between;
				overflow:hidden;
				.left_block{					
					padding-left:35px;
					padding-top:30px;
				}
				.right_block{
					max-width: 150px;
					width: 100%;
					height: 300px; 
					position:relative;
					.half_roud{
					background: #dbdada;
					width: 500px;
					height:500px;
					border-radius:50%;
					position:absolute;
					z-index: 1;
					left: 10px;
					top:-90px;
					transition:1s ease all;
					p{
						position:absolute;
						top:25%;
						left: 100px;
						max-width: 280px;
						font-family: 'ProximaNovaSemibold';
						font-size: 16px;
					}
					&.open{
						left:-290px;
					}
					}
					.open_sorce{
						position:absolute;
						top:50%;
						left: 50%;
						transform:translate(-50%,-50%);	
						width: 80px;
						height:80px;
						background:#ffff00;
						border-radius:50px;
						display:flex;
						justify-content:space-around;
						align-items:center;
						z-index: 2;
						transition:1s ease all;
						&.open{
							left: -230px;
						}
						&.open:hover+ .half_roud{
							background:#ccc;
						}
						&:hover{
							cursor:pointer;
							background:#d8d805;
						}
							&:hover + .half_roud{
								background: green;
							}
					img{
						width: 50px;
					}
					}
				}
				.photo_patient{
					width: 125px;
					height:125px;
					img{
						border-radius:50%;
					}
					margin-bottom: 15px;
				}
				.name_P{
					font-size: 22px;
					font-family: 'ProximaNovaSemibold';
				}
				.location_P{
					font-size: 16px;
					color:#979797;
					font-family: 'ProximaNovaSemibold';
				}
				.illness{
					margin-top:15px;
					span{
						color:#979797;
						font-size: 12px;
						font-family: 'ProximaNovaSemibold';
					}
					p{
						font-family: 'ProximaNovaSemibold';
						font-size: 15px;
						color:#000;
					}
				}
			}
		}
		.shadow_back{
			background:rgba(0,0,0,0.5);
			position:fixed;
			top:0;
			left: 0;
			right:0;
			bottom:0;
			z-index: 9;
			display:none;
		}
		.block_six_response.open,
		.shadow_back.open{
			display: block;
		}
		.block_six_response{
			max-width: 500px;
			width: 100%;
			position:fixed;
			top:50%;
			left: 50%;
			transform:translate(-50%,-50%);
			z-index: 10;
			display:none;


			.block_six_response_mask{
				position:absolute;
				top:0;
				left: 0;
				bottom:0;
				right:0;
				background:#fff;
				display:block;
				.wrappe_block_social{
					display:flex;
					flex-direction:column;
					align-items:center;
					position: absolute;
					width: 100%;
					top: 50%;
					transform: translateY(-50%);
					h3{
						font-size:16px;
						margin-bottom: 20px;
						font-family: 'ProximaNovaSemibold';
						font-weight:300;
					}
					.social_block_footer{
						img{
							transition: .7s all;
							&:hover{
								transform: rotate(360deg);
							}
						}
						a{
							margin:0 10px;
						}
					}
					.info_block{
						font-family: 'ProximaNovaSemibold';
						background:#edf2f1;
						font-size:10px;
						height:30px;
						line-height:30px;
						padding:0 10px;
						margin-top: 20px;
						cursor:pointer;
						&:hover{
							color: #ccc;
							background:#000;
						}
					}
				}
			}
			.block_six_response_mask.close{
				display:none;
			}
			form{
				max-width: 500px;
				font-size:12px;
				padding:30px;
				display:flex;
				flex-direction:column;
				background:green;
				border-radius:10px;
				.name_last_wrappe{
					display:flex;
					justify-content:space-between;
					input{
						width: 200px;
					}
				}
				input{
					font-family: 'DejaVuSerif-Italic';
					height: 26px;
					border:none;
					margin-bottom: 15px;
					padding:0 10px;
				}
				textarea{
					font-family: 'DejaVuSerif-Italic';
					border:none;
					padding:10px;
					height:100px;
				}
				.wrappe_file_unload{					
					margin:15px 0;
					display:flex;
					font-family: 'ProximaNovaSemibold';
				}
				.file_unload{
					font-size:14px;
					text-decoration:underline;
					cursor:pointer;
					&:hover{
						color: #ccc;
					}
					input{
						display:none;
					}
				}
				.submit_button{
					display:flex;
					align-items:baseline;
					button{
					font-family: 'DejaVuSerif-Bold';
					width: 122px;
					height: 36px;
					background:#fff;
					color: #000;
					font-size:13px;
					cursor:pointer;
					&:hover{
						background:#ccc;
						color:#000;
					}
					}
					p{
						width: 196px;
						font-size:9px;
						margin-left:15px;
						color:#ccc;
						font-family: 'DejaVuSerif-Bold';
					}
				}

			}
		}
	}
}
footer{
	max-width: 2800px;
	margin:0 auto;
	opacity:1;
	transition:5s ease all;
	// &.show{
	// opacity:1;

	// }
	& .out_block{
		margin-left: 244px;
		padding-bottom:50px;
		border-left: 1px solid #cfd4d3;
		padding-top:50px;
	}
	& .wrappe_footer{
		display: flex;
		justify-content:space-around;
		align-items:center;
		color:#000;
		margin:30px auto;
		& .footer_logo{
			transition: 0.5s ease;
				&:hover{
					transform: scale(1.1);
					transition: 0.5s ease;
				}
		}
		& .social_block_footer a img{
				transition: .7s ease;
			&:hover{
				transform: rotate(360deg);
				transition: .7s ease;
			}
		}
		& .block_info{
    	font-family: 'ProximaNovaSemibold';
			font-size:10px;
			font-weight: bold;
			position:relative;
			.trap{
				background:rgba(0,0,0,0.8);
				position:absolute;
				transform: skew(-15deg) translate(-50%,-50%);
				left: 50%;
				top:50%;
				width: 240px;
				height: 172px;
				z-index: -1;	
			}
			.mask_map{
				z-index: 1;
				color:#fff;
				margin-left: 85px;
				.location_adress,
				.telephon_number,
				.email_contact{
					position:relative;
					margin:10px 0;
				}
				.location_adress:before{
					content: url('../images/location_red.png');
					position:absolute;
					left:-45px;
				}
				.telephon_number:before{
					content: url('../images/phone.png');
					position:absolute;
					left:-45px;
				}
				.email_contact:before{
					content: url('../images/sobaka.png');
					position:absolute;
					left:-45px;
				}
				span{
					display:block;
				}
			}
		}
		& .social_block_footer{
			& a{
				margin:0 10px;
			}
			& h3{
				font-family: 'ProximaNovaSemibold';
				color:rgba(0,0,0,.6);
				text-align: center;
				font-size:9px;
				margin-top: 5px;
			}
		}

	}
	& .line_footer{
		max-width: 1230px;
		height: 2px;
		background:#8e9191;
		margin:0 auto;
	}
}
@media only screen and (max-width: 1250px){
	.conten_block_sidebar section .peoples_reviews_block .reviews-slider{
		max-width: 500px;
		margin:0 auto;
	}
}
@media only screen and (max-width: 992px){
	.conten_block_sidebar section{ 
		.block_one .item .wrappe_text{
			p{
				font-size: 16px;

			}
			a{
				font-size: 14px;
			}
		}
		.block_two .big_line{
			left: -150px;
		}
		.block_five_form .vertical_line{
			left: -30px;
		}
	}
	footer .wrappe_footer{
		flex-direction:column;
		align-items:center;
		&>div{
			margin:20px 0;
		}
		 .social_block_footer{
			a{
				margin:5px;
			}
		}
		.block_info .trap{
			left: 45%;
		}
	}	
}

@media only screen and (max-width: 768px){
	.conten_block_sidebar aside{
		transform:translateX(-100%);
		z-index:10;
		.sidebar_open{
			display:block;
			position:absolute;
			right: -40px;
			top:5px;
			font-size: 30px;
			color:#000;
			transition:.5s ease all;
			z-index:10;
			&:hover,
			&:focus,
			&:active{
				cursor:pointer;
				color:#ccc;
			}
		}
		&.open{
			transform:translateX(0);
			z-index:10;
			background:#fff;
		}
	}
	.conten_block_sidebar section{
		margin-left: 0;
		border:none;
	}
	footer .out_block{
		margin-left: 0;
		border:none;
	}

}
@media only screen and (max-width: 610px){
	header{
		height:110px;
		transform: translateY(-70px);
		padding:10px 15px;
		transition: 1s ease all;
		&.open{
			transform: translateY(0);
		}
		.header_line{
			flex-direction: column-reverse;
			align-items:center;
			&>div,
			&>a{
				margin-bottom:10px;
			}
			.location{
			}
			.telephon_number{
			}
		.time_to_work p{
			width: 150px;
		}
		.more_info{
			width:20px;
			display:block;
			position:absolute;
			right:15px;
			bottom:0;
			color:#fff;
			text-align: center;
			i{
				animation-name:show_info;
				animation-duration: 1s;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
				animation-direction: alternate;
			}
			&:hover{
				cursor:pointer;
			}
		}
		}

	}
	.conten_block_sidebar section{
			 .block_one{
			margin-top: 40px;
			.item .wrappe_text{
					 p{
					margin-top:0;
					margin-bottom: 5px;
				}
				a{
					padding:6px 12px;
				}	
			}
		}
		.block_five_form{
			margin-bottom: 100px;
		}
	}
	.conten_block_sidebar aside{
		top:40px;
	}
}
@media only screen and (max-width: 550px){
	.conten_block_sidebar section{
	 .block_two{
		 .our_work{
			 h2{
				font-size: 20px;
			}
			p{
				font-size: 16px;
				margin-top: 10px;
			}	
		}
		 .image_block_two .img_med{
			width: 90px;
			height:90px;
		  }	
		}
		.block_three_wrappe{
			flex-direction:column;
			align-items:center;
		}
		.block_five_form{
			margin-top: 0;
			padding-left:15px;
			padding-right:15px;
		}
		.peoples_reviews_block{
			padding:0 15px;
		}
		.peoples_reviews_block .item .right_block{
			 .half_roud.open{
				left: -270px;
			}
			.open_sorce.open{
				left:-210px;
			}
			}
	}
	.owl-theme .owl-nav{
		display:none;
	}
}
@media only screen and (max-width: 467px){
		.conten_block_sidebar section{
		.block_one{
			.item .wrappe_text{
					 p{
					margin:0;
					line-height:1.3;
					}
					a{
					font-size: 12px;
					padding:5px 8px;
				}	
			}
		}
		.block_two .image_block_two  .wrappe_item_med{
			&:nth-child(2n){
				margin:0 10px;
			}
		}
		.block_four .location_map{
			.trap{
				width:235px;
			}
			.mask_map{
				width:250px;
				& > div{
					margin-left: 80px;
				}
				& > div > p > span{
					font-size:10px; 
				}
				.logo_text::before,
				.location_adress::before,
				.telephon_number::before,
				.email_contact::before{
					left: -25px;
				}
			} 
		}
		.block_five_form{
			form textarea{
				margin-top: 10px;
			}
			 .name_last{
			margin:0;
			flex-direction:column;
			.necessarily,
			input{
				width:100%;
			}
			input{
				margin-bottom: 10px;
			}
		}
		}
		.peoples_reviews_block .item{
			.left_block{
			padding-left:10px;
			padding-top:10px;
			}
			.photo_patient{
				width:100px;
				height:100px;
			}
			.right_block{
				.half_roud{
				left:30px;
				p{
					max-width: 170px;
					font-size: 13px;
				}
				&.open{
				left: -135px;
				}
				}
				.open_sorce{
					left: 60%;
					&.open{
					left:-80px;
					}
				}
			}
		}
	}
}