@font-face {
  font-family: "DejaVuSerif-Italic";
  src: url("../fonts/DejaVuSerif-Italic.eot");
  src: url("../fonts/DejaVuSerif-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/DejaVuSerif-Italic.woff2") format("woff2"), url("../fonts/DejaVuSerif-Italic.woff") format("woff"), url("../fonts/DejaVuSerif-Italic.ttf") format("truetype"), url("../fonts/DejaVuSerif-Italic.svg#DejaVuSerif-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "DejaVuSerif-Bold";
  src: url("../fonts/DejaVuSerif-Bold.eot");
  src: url("../fonts/DejaVuSerif-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DejaVuSerif-Bold.woff2") format("woff2"), url("../fonts/DejaVuSerif-Bold.woff") format("woff"), url("../fonts/DejaVuSerif-Bold.ttf") format("truetype"), url("../fonts/DejaVuSerif-Bold.svg#DejaVuSerif-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "MinionPro-Regular";
  src: url("../fonts/MinionPro-Regular.eot");
  src: url("../fonts/MinionPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MinionPro-Regular.woff2") format("woff2"), url("../fonts/MinionPro-Regular.woff") format("woff"), url("../fonts/MinionPro-Regular.ttf") format("truetype"), url("../fonts/MinionPro-Regular.svg#MinionPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNovaSemibold";
  src: url("../fonts/MarkSimonsonProximaNovaSemibold.eot");
  src: url("../fonts/MarkSimonsonProximaNovaSemibold.eot") format("embedded-opentype"), url("../fonts/MarkSimonsonProximaNovaSemibold.woff2") format("woff2"), url("../fonts/MarkSimonsonProximaNovaSemibold.woff") format("woff"), url("../fonts/MarkSimonsonProximaNovaSemibold.ttf") format("truetype"), url("../fonts/MarkSimonsonProximaNovaSemibold.svg#MarkSimonsonProximaNovaSemibold") format("svg");
}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  min-width: 320px;
  background: #edf2f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

p, h2 {
  margin: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
header {
  background-color: #4c4c4c;
  height: 35px;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 20;
}
header .header_line {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}
header .header_line .time_to_work {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .header_line .time_to_work p {
  font-family: "MinionPro-Regular";
  color: #fff;
}
header .header_line .time_to_work:hover .time_to_work_full {
  display: block;
}
header .header_line .time_to_work .time_to_work_full {
  position: absolute;
  display: none;
  background: #4c4c4c;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  max-width: 175px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
header .header_line .time_to_work .time_to_work_full p {
  font-family: "DejaVuSerif-Bold";
  font-size: 13px;
  color: #dadada;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
header .header_line .time_to_work .time_to_work_full span {
  font-size: 9px;
  color: #fff;
}
header .header_line .time_to_work .time_to_work_full ul {
  font-family: "ProximaNovaSemibold";
  max-width: 140px;
  margin: 0 auto;
}
header .header_line .time_to_work .time_to_work_full li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}
header .header_line .time_to_work .time_to_work_full a {
  font-family: "ProximaNovaSemibold";
  line-height: 30px;
  display: block;
  width: 130px;
  height: 30px;
  text-align: center;
  background: #ccc;
  font-size: 16px;
  margin: 8px auto 0 auto;
  color: #000;
}
header .header_line .time_to_work .time_to_work_full a:hover {
  background: #000;
  color: #ccc;
}
header .header_line .time_to_work .wrappe_img {
  display: inline-block;
}
header .header_line .time_to_work .wrappe_img img {
  display: inline-block;
  vertical-align: bottom;
}
header .header_line .time_to_work p {
  display: inline-block;
  font-size: 11px;
  width: 175px;
}
header .header_line .time_to_work p .open_close {
  color: #74e78b;
  padding: 0 5px;
  font-size: 16px;
}
header .header_line .time_to_work p .time-of-work {
  font-size: 11px;
}
header .header_line .location {
  font-family: "DejaVuSerif-Bold";
  display: inline-block;
  align-items: center;
}
header .header_line .location .wrappe {
  display: inline-block;
  color: #fff;
}
header .header_line .location .wrappe p:first-of-type {
  font-size: 13px;
  text-align: center;
}
header .header_line .location .wrappe p:last-of-type {
  font-size: 9px;
}
header .header_line .telephon_number {
  font-family: "DejaVuSerif-Bold";
  color: #fff;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header_line .telephon_number:hover {
  cursor: pointer;
}
header .header_line .telephon_number:hover span img {
  animation: swing 0.6s ease;
  animation-iteration-count: 1;
}
header .header_line .telephon_number span {
  display: flex;
  padding-right: 15px;
}
header .header_line .telephon_number span img {
  vertical-align: bottom;
}
header .header_line .telephon_number p {
  display: inline-block;
}

.conten_block_sidebar {
  max-width: 2800px;
  margin: 0 auto;
  position: relative;
  display: flex;
  padding: 0 15px;
}
.conten_block_sidebar aside {
  width: 244px;
  display: block;
  vertical-align: top;
  position: fixed;
  top: 35px;
  bottom: 0;
}
.conten_block_sidebar aside .sidebar_menu {
  font-family: "proximanovasemibold";
}
.conten_block_sidebar aside .sidebar_menu .social_block {
  text-align: center;
  vertical-align: bottom;
  margin-top: 40px;
}
.conten_block_sidebar aside .sidebar_menu .social_block a {
  margin: 0 6px;
}
.conten_block_sidebar aside .sidebar_menu .social_block a img {
  transition: 0.7s ease;
  filter: opacity(30%);
}
.conten_block_sidebar aside .sidebar_menu .social_block a img:hover {
  transform: rotate(360deg);
  transition: 0.7s ease;
}
.conten_block_sidebar aside .sidebar_menu .logo {
  margin: 50px 0 50px 25px;
  transition: 0.5s ease;
}
.conten_block_sidebar aside .sidebar_menu .logo:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}
.conten_block_sidebar aside .sidebar_menu ul {
  padding-left: 25px;
  text-transform: uppercase;
}
.conten_block_sidebar aside .sidebar_menu ul .dropdown_sidebar:hover {
  color: #ccc;
  cursor: pointer;
}
.conten_block_sidebar aside .sidebar_menu ul .dropdown_sidebar ul {
  display: none;
  padding-left: 0;
  margin-top: 10px;
}
.conten_block_sidebar aside .sidebar_menu ul .dropdown_sidebar ul li {
  padding-left: 17px;
}
.conten_block_sidebar aside .sidebar_menu ul .dropdown_sidebar ul li:first-of-type:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #ccd0d0;
  position: absolute;
  top: 0;
  left: -7px;
}
.conten_block_sidebar aside .sidebar_menu ul .dropdown_sidebar.open ul {
  display: block;
}
.conten_block_sidebar aside .sidebar_menu ul .dropdown_sidebar ul li {
  font-size: 13px;
}
.conten_block_sidebar aside .sidebar_menu ul li {
  font-size: 18px;
  padding: 10px 0;
  position: relative;
  max-width: 193px;
}
.conten_block_sidebar aside .sidebar_menu ul li a {
  font-family: "proximanovasemibold";
  color: #000;
}
.conten_block_sidebar aside .sidebar_menu ul li a:hover {
  color: #ccc;
}
.conten_block_sidebar aside .sidebar_menu ul li:before {
  content: "";
  position: absolute;
  left: -7px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #ccd0d0;
}
.conten_block_sidebar aside .sidebar_menu ul li:last-of-type:before {
  display: none;
}
.conten_block_sidebar section {
  width: 100%;
  display: block;
  margin-left: 244px;
  border-left: 1px solid #cfd4d3;
  overflow: hidden;
}
.conten_block_sidebar section .block_one {
  margin-top: 35px;
  position: relative;
}
.conten_block_sidebar section .block_one:before {
  content: "";
  padding: 0 0 60.9% 0;
  display: block;
}
.conten_block_sidebar section .block_one .owl-carousel.owl-theme {
  height: 100%;
  width: 100%;
}
.conten_block_sidebar section .block_one .owl-stage-outer {
  width: 100%;
  height: 100%;
}
.conten_block_sidebar section .block_one .owl-stage {
  height: 100%;
  width: 100%;
}
.conten_block_sidebar section .block_one .owl-item {
  height: 100%;
}
.conten_block_sidebar section .block_one .item {
  position: relative;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conten_block_sidebar section .block_one .item .wrappe_text p {
  margin: 20px 0;
  font-size: 26px;
  font-family: "ProximaNovaSemibold";
}
.conten_block_sidebar section .block_one .text_of_first_block {
  font-family: "ProximaNovaSemibold";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.conten_block_sidebar section .block_two {
  margin: 100px auto 0 auto;
  border: 5px solid #fff;
  max-width: 650px;
  padding-top: 30px;
  padding-bottom: 15px;
  position: relative;
}
.conten_block_sidebar section .block_two .big_line {
  height: 5px;
  background: #fff;
  position: absolute;
  width: 28%;
  top: 42px;
  left: -125px;
}
.conten_block_sidebar section .block_two .block_two_wrappe {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 515px;
  width: 100%;
  margin: 0 auto;
}
.conten_block_sidebar section .block_two .next {
  width: 100%;
}
.conten_block_sidebar section .block_two .next a {
  font-weight: bold;
  margin-top: 20px;
  margin-right: 15px;
  text-align: center;
  background: #fff;
  float: right;
  width: 150px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  color: #000;
  font-family: "ProximaNovaSemibold";
}
.conten_block_sidebar section .block_two .next a:hover {
  background: #000;
  color: #ccc;
}
.conten_block_sidebar section .block_two .our_work {
  font-family: "ProximaNovaSemibold";
}
.conten_block_sidebar section .block_two .our_work h2 {
  font-size: 26px;
  text-transform: uppercase;
}
.conten_block_sidebar section .block_two .our_work p {
  font-size: 22px;
  margin-top: 40px;
}
.conten_block_sidebar section .block_two .image_block_two {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  max-width: 515px;
  width: 100%;
}
.conten_block_sidebar section .block_two .image_block_two .img_med {
  width: 112px;
  height: 112px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: 0.5s ease all;
}
.conten_block_sidebar section .block_two .image_block_two .img_med:hover {
  border-radius: 25%;
  transition: 0.5s ease all;
}
.conten_block_sidebar section .block_two .image_block_two .wrappe_item_med {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  align-items: center;
}
.conten_block_sidebar section .block_two .image_block_two .text_med {
  margin-top: 30px;
  color: #000;
  font-weight: bold;
  font-family: "ProximaNovaSemibold";
}
.conten_block_sidebar section .block_two .image_block_two .text_med p:first-of-type {
  font-size: 13px;
}
.conten_block_sidebar section .block_two .image_block_two .text_med p:last-of-type {
  font-size: 9px;
}
.conten_block_sidebar section .block_three {
  max-width: 790px;
  margin: 100px auto 0 auto;
}
.conten_block_sidebar section .block_three .line {
  width: 100%;
  height: 1px;
  background: #8f9292;
  margin-bottom: 50px;
}
.conten_block_sidebar section .block_three .block_three_wrappe {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.conten_block_sidebar section .block_three .block_three_wrappe .wrappe_img_three img {
  height: 350px;
  max-width: 350px;
}
.conten_block_sidebar section .block_three .block_three_wrappe .wrappe_text_three {
  font-family: "ProximaNovaSemibold";
  font-weight: bold;
  max-width: 400px;
}
.conten_block_sidebar section .block_three .block_three_wrappe .wrappe_text_three h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.conten_block_sidebar section .block_three .block_three_wrappe .wrappe_text_three p {
  font-size: 13px;
  margin-bottom: 15px;
}
.conten_block_sidebar section .block_three .block_three_wrappe .wrappe_text_three a {
  width: 150px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #fff;
  float: right;
  margin-right: 65px;
  color: #000;
  font-size: 13px;
}
.conten_block_sidebar section .block_three .block_three_wrappe .wrappe_text_three a:hover {
  color: #ccc;
  background: #000;
}
.conten_block_sidebar section .block_four {
  margin-top: 100px;
}
.conten_block_sidebar section .block_four .location_map {
  height: 285px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.conten_block_sidebar section .block_four .location_map .mask_map {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
  position: absolute;
  bottom: 0;
  height: 100%;
  left: 45%;
  z-index: 10;
  font-family: "ProximaNovaSemibold";
}
.conten_block_sidebar section .block_four .location_map .mask_map > div > p > span {
  display: block;
  color: #fff;
  font-size: 11px;
}
.conten_block_sidebar section .block_four .location_map .mask_map > div {
  display: flex;
  margin-left: 100px;
  margin-bottom: 20px;
  position: relative;
}
.conten_block_sidebar section .block_four .location_map .mask_map > div > div {
  margin-right: 25px;
}
.conten_block_sidebar section .block_four .location_map .mask_map .logo_text {
  margin-top: 40px;
  color: #fff;
  flex-direction: column;
}
.conten_block_sidebar section .block_four .location_map .mask_map .logo_text h2 {
  font-size: 23px;
}
.conten_block_sidebar section .block_four .location_map .mask_map .logo_text:before {
  content: url("../images/logo_small.png");
  position: absolute;
  left: -45px;
  transform: translateX(-50%);
}
.conten_block_sidebar section .block_four .location_map .mask_map .location_adress:before {
  content: url("../images/location_red.png");
  position: absolute;
  left: -45px;
  transform: translateX(-50%);
}
.conten_block_sidebar section .block_four .location_map .mask_map .telephon_number:before {
  content: url("../images/phone.png");
  position: absolute;
  left: -45px;
  transform: translateX(-50%);
}
.conten_block_sidebar section .block_four .location_map .mask_map .email_contact:before {
  content: url("../images/sobaka.png");
  position: absolute;
  left: -45px;
  transform: translateX(-50%);
}
.conten_block_sidebar section .block_four .location_map .trap {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  transform: skew(-15deg);
  left: 45%;
  width: 320px;
  bottom: 0;
  height: 100%;
  z-index: 0;
}
.conten_block_sidebar section .block_five_form {
  margin-left: 145px;
  margin-top: 200px;
  margin-bottom: 250px;
  position: relative;
}
.conten_block_sidebar section .block_five_form .vertical_line {
  height: 525px;
  width: 5px;
  background: #fff;
  position: absolute;
  left: -65px;
  top: -90px;
}
.conten_block_sidebar section .block_five_form .horizontal_line {
  width: 105%;
  height: 5px;
  background: #fff;
  position: absolute;
  top: -60px;
  left: -120px;
}
.conten_block_sidebar section .block_five_form form {
  max-width: 430px;
  display: flex;
  flex-direction: column;
}
.conten_block_sidebar section .block_five_form form .error-line {
  margin-top: 30px;
  display: none;
  max-width: 430px;
  width: 100%;
  height: 25px;
  border: 2px solid #ff0000;
  background: #fff;
  color: #ff0000;
  font-family: "DejaVuSerif-Italic";
  font-size: 12px;
  vertical-align: bottom;
  align-items: center;
  justify-content: space-around;
}
.conten_block_sidebar section .block_five_form form .error-line.open {
  display: flex;
}
.conten_block_sidebar section .block_five_form form input {
  height: 26px;
  padding-left: 10px;
  font-size: 12px;
  color: #8a8a8a;
  position: relative;
  border: none;
  font-family: "DejaVuSerif-Italic";
}
.conten_block_sidebar section .block_five_form form textarea {
  height: 85px;
  padding-left: 10px;
  padding-top: 5px;
  margin-top: 15px;
  font-size: 12px;
  color: #8a8a8a;
  border: none;
  font-family: "DejaVuSerif-Italic";
}
.conten_block_sidebar section .block_five_form form .wrappe_form {
  display: flex;
  flex-direction: column;
}
.conten_block_sidebar section .block_five_form form .necessarily_line {
  font-family: "DejaVuSerif-Italic";
  font-size: 12px;
  color: #ccc;
  margin-bottom: 15px;
}
.conten_block_sidebar section .block_five_form form .necessarily_line span {
  color: #ff0000;
}
.conten_block_sidebar section .block_five_form form .necessarily {
  position: relative;
}
.conten_block_sidebar section .block_five_form form .necessarily::after {
  content: "*";
  display: block;
  color: #ff0000;
  position: absolute;
  left: 0;
  top: 25%;
}
.conten_block_sidebar section .block_five_form form .necessarily.phone {
  width: 100%;
}
.conten_block_sidebar section .block_five_form form .necessarily.phone input {
  width: 100%;
}
.conten_block_sidebar section .block_five_form form h3 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-family: "DejaVuSerif-Bold";
}
.conten_block_sidebar section .block_five_form .name_last {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.conten_block_sidebar section .block_five_form .name_last input {
  width: 46.5%;
}
.conten_block_sidebar section .block_five_form .name_last .necessarily {
  width: 46.5%;
}
.conten_block_sidebar section .block_five_form .name_last .necessarily input {
  width: 100%;
}
.conten_block_sidebar section .block_five_form .submit_button {
  display: flex;
  align-items: baseline;
}
.conten_block_sidebar section .block_five_form .submit_button button {
  font-family: "DejaVuSerif-Bold";
  width: 122px;
  height: 36px;
  background: #000;
  color: #fff;
  font-size: 13px;
  margin-top: 20px;
  cursor: pointer;
}
.conten_block_sidebar section .block_five_form .submit_button button:hover {
  background: #ccc;
  color: #000;
}
.conten_block_sidebar section .block_five_form .submit_button p {
  width: 196px;
  font-size: 9px;
  margin-left: 15px;
  color: #ccc;
  font-family: "DejaVuSerif-Bold";
}
.conten_block_sidebar section .block_six_response {
  margin-left: 145px;
  margin-bottom: 50px;
  padding-top: 50px;
  position: relative;
}
.conten_block_sidebar section .block_six_response .block_six_response_mask {
  position: absolute;
  top: 0;
  bottom: -50px;
  width: 430px;
  background: #fff;
  display: block;
}
.conten_block_sidebar section .block_six_response .block_six_response_mask .wrappe_block_social {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.conten_block_sidebar section .block_six_response .block_six_response_mask .wrappe_block_social h3 {
  font-size: 16px;
  margin-bottom: 20px;
  font-family: "ProximaNovaSemibold";
  font-weight: 300;
}
.conten_block_sidebar section .block_six_response .block_six_response_mask .wrappe_block_social .social_block_footer img {
  transition: 0.7s all;
}
.conten_block_sidebar section .block_six_response .block_six_response_mask .wrappe_block_social .social_block_footer img:hover {
  transform: rotate(360deg);
}
.conten_block_sidebar section .block_six_response .block_six_response_mask .wrappe_block_social .social_block_footer a {
  margin: 0 10px;
}
.conten_block_sidebar section .block_six_response .block_six_response_mask .wrappe_block_social .info_block {
  font-family: "ProximaNovaSemibold";
  background: #edf2f1;
  font-size: 10px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin-top: 20px;
  cursor: pointer;
}
.conten_block_sidebar section .block_six_response .block_six_response_mask .wrappe_block_social .info_block:hover {
  color: #ccc;
  background: #000;
}
.conten_block_sidebar section .block_six_response .block_six_response_mask.close {
  display: none;
}
.conten_block_sidebar section .block_six_response form {
  max-width: 430px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
.conten_block_sidebar section .block_six_response form .name_last_wrappe {
  display: flex;
  justify-content: space-between;
}
.conten_block_sidebar section .block_six_response form .name_last_wrappe input {
  width: 200px;
}
.conten_block_sidebar section .block_six_response form input {
  font-family: "DejaVuSerif-Italic";
  height: 26px;
  border: none;
  margin-bottom: 15px;
  padding: 0 10px;
}
.conten_block_sidebar section .block_six_response form textarea {
  font-family: "DejaVuSerif-Italic";
  border: none;
  padding: 10px;
  height: 100px;
}
.conten_block_sidebar section .block_six_response form .wrappe_file_unload {
  margin: 15px 0;
  display: flex;
  font-family: "ProximaNovaSemibold";
}
.conten_block_sidebar section .block_six_response form .file_unload {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}
.conten_block_sidebar section .block_six_response form .file_unload:hover {
  color: #ccc;
}
.conten_block_sidebar section .block_six_response form .file_unload input {
  display: none;
}
.conten_block_sidebar section .block_six_response form .submit_button {
  display: flex;
  align-items: baseline;
}
.conten_block_sidebar section .block_six_response form .submit_button button {
  font-family: "DejaVuSerif-Bold";
  width: 122px;
  height: 36px;
  background: #000;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}
.conten_block_sidebar section .block_six_response form .submit_button button:hover {
  background: #ccc;
  color: #000;
}
.conten_block_sidebar section .block_six_response form .submit_button p {
  width: 196px;
  font-size: 9px;
  margin-left: 15px;
  color: #ccc;
  font-family: "DejaVuSerif-Bold";
}

footer {
  max-width: 2800px;
  padding: 0 15px;
  margin: 0 auto;
}
footer .out_block {
  margin-left: 244px;
  padding-bottom: 50px;
  border-left: 1px solid #cfd4d3;
  padding-top: 50px;
}
footer .wrappe_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #000;
  margin: 30px auto;
}
footer .wrappe_footer .footer_logo {
  transition: 0.5s ease;
}
footer .wrappe_footer .footer_logo:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}
footer .wrappe_footer .social_block_footer a img {
  transition: 0.7s ease;
}
footer .wrappe_footer .social_block_footer a img:hover {
  transform: rotate(360deg);
  transition: 0.7s ease;
}
footer .wrappe_footer .block_info {
  font-family: "ProximaNovaSemibold";
  font-size: 9px;
  font-weight: bold;
}
footer .wrappe_footer .block_info p {
  margin: 5px 0;
}
footer .wrappe_footer .social_block_footer a {
  margin: 0 10px;
}
footer .wrappe_footer .social_block_footer h3 {
  font-family: "ProximaNovaSemibold";
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 9px;
  margin-top: 5px;
}
footer .line_footer {
  max-width: 1100px;
  height: 2px;
  background: #8e9191;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
